*{
    margin: 0;
    padding: 0;
}


body{
    display: grid;
    grid-template: 20% 5fr 3% / 1fr 5fr;
    grid-template-areas: 
    "title header"
    "sidebar main"
    "footer footer";
    height: 100vh;
}

#header{
    grid-area: 1/2/2/3;
    background-color: aqua;
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    grid-template-areas: "top-head" "bottom-head";
}

#top-header{
    background-color: blueviolet;
    grid-area: top-head;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 25px;
}

#search-box{
    grid-area: 1/1/2/2;
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: stretch;
    margin-left: 5%;
}

.search-input{
    max-width: 500px;
    border: 1px solid green;
    flex-grow: 1;
    display: flex;
}

#search-bar{
    border-radius: 25px;
    flex: auto;
}

#admin-buttons{
    grid-area: 1/2/2/3;
    background-color: yellow;
    display: grid;
    grid-template-columns: 0.25fr 2fr 4fr ;
    align-items: center;
    gap: 5%;
}

#notifications{
    border: 1px red solid;
}

#bell_logo{
    width: 25px;
    padding: 10px;
}

#small{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

#small-logo{
    width: 100px;
    height: auto;
}

#user-name{
    border: 1px red solid;
}

#bottom-header{
    background-color: seagreen;
    grid-area: bottom-head;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

#user-name-title{
    grid-area: 1/1/2/2;
    background-color: aqua;
    border: 1px solid yellow;
    display: flex;
    align-items: center;
}

#user-text{
    font-weight: 900;
}

#big-logo{
    width: 200px;
    height: 100px;
}

#dashboard-buttons{
    grid-area: 1/2/2/3;
    background-color: pink;
    display: flex;
    gap: 50px;
    justify-content: space-around;
}

.button-item button{
 border-radius: 25px;
 width: 100px;
 height: 40px;
}

#title{
    grid-area: title;
    background-color: blue;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

#db-logo{
    grid-area: 1/1/2/2;
    border: 1px red solid;
    display: flex;
    justify-content: center;
}

#db-title{
     grid-area: 2/1/3/2;
     border: 1px red solid;
     text-align: center;
    font-size: 30px;
}

#sidebar{
    grid-area: sidebar;
    background-color: crimson;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 0px;
}

#menu-items{
    grid-area: 1/1/2/2;
    display: grid;
    grid-template-rows: 0.25fr 0.25fr 0.25fr 0.25fr;
    grid-auto-flow: row;
    grid-auto-rows: 0.2fr;
    border: 2px blue solid;
    gap: 15px;
    justify-content: center;
    padding: 15px;
}

.menu-item{
    display: flex;
    border: 1px red solid;
    align-items: center;
    gap: 25px;
}

#admin-settings{
    grid-area: 2/1/3/2;
    display: grid;
    grid-template-rows: 0.25fr 0.25fr 0.25fr;
    grid-auto-flow: row;
    grid-auto-rows: 0.2fr;
    border: 2px blue solid;
    gap: 30px;
    justify-content: space-around;
    padding: 30px;
}

.admin-setting{
    display: flex;
    border: 1px red solid;
    align-items: center;
    gap: 25px;
}

#sidebar img{
    width: 35px;
    height: auto;
}

#main{
    grid-area: main;
    background-color: brown;
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    padding: 10px;
    gap: 25px;
}

#projects{
    grid-area: 1/1/3/2;
    background-color: lightgreen;
    display: grid;
    grid-template-rows: 0.1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
    gap: 1rem 5rem;
    padding: 2.5rem;
    border: 1px blue solid;
}

.main-title{
    grid-column: 1/4;
    font-weight: 800;
    border: 1px red solid;
    margin-bottom: -0.5rem;
}

.project{
    background-color: burlywood;
    display: grid;
    grid-template: 0.5fr 2fr 0.5fr / 1fr 1fr;
    width: 250px;
    padding: 20px;
    gap: 25px;
}

.project-title{
    grid-area: 1/1/2/3;
    border: 1px purple dashed;
}

.project-desc{
    grid-area: 2/1/3/3;
}

.git-link{
    grid-area: 3/1/4/2;
    justify-self:first baseline;
}

.page-link{
    grid-area: 3/2/4/3;
    justify-self: last baseline;
}

.project img{
    width: 50px;
    height: auto;
}

#announcements{
    grid-area: 1/2/2/3;
    background-color: blueviolet;
    padding: 2rem;
    margin: 2.5rem 2rem 1rem;
}

#updates{
    grid-area: 2/2/3/3;
    background-color: aqua;
    padding: 25px;
    margin: 0rem 2rem 2.5rem;
}

#footer{
    grid-area: footer;
    background-color: darkgoldenrod;
    text-align: center;
    align-self: stretch;
    padding: 0.2em;
}

