*{
    padding: 0;
    margin: 0;
}

#app{
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 4fr auto;
    grid-template-areas: 
    "sidebar header"
    "sidebar main"
    "footer footer";
    width: 100vw;
    height: 100vh;
    border: 0px solid red;
}

#sidebar{
    grid-area: sidebar;
    background-color: darkslategray;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.88fr 4fr 4fr;
    grid-template-areas: 
    "logo"
    "main-tabs"
    "setting-tabs";
    width: 100%;
    justify-content: center;
    color: aliceblue;
}


#title{
    grid-area: logo;
    font-size: 2em;
    padding-left: 5px;
    font-weight: 800;
    align-items: center;
    display: flex;
}

#main-tabs{
    grid-area: main-tabs;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start ;
    padding-left: 5%;
    gap: 2%;
    width: 100%;
}

#setting-tabs{
    grid-area: setting-tabs;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 5%;
    padding-top: 0%;
    gap: 2%;
    width: 100%;
}

.tab{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    border: 0px solid yellow;
    width: 100%;
    margin-left: 0%;
    gap: 5%;
}

.sidebar-img{
    width: 15%;
}

#header{
    grid-area: header;
    background-color: yellow;
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "top-half"
    "bottom-half";
}

#top-header{
    grid-area: top-half;
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 1px;
    gap: 25px;  
    align-items: center;
}

#search-bar{
    border: 0px solid red;
    width: 100%;
    display: flex;
    margin: 2px;
    height: 75%;
}

#top-header input{
    border-radius: 30px;
    padding: 2px;
    width: 100%;
}

#profile-section{
    display: flex;
    align-items: center;
}

#profile-section img{
    width: 25px;
}

#profile-logo-top img{
    width: 100px;
}

#bottom-header{
    grid-area: bottom-half;
    background-color: black;
    border: 0px solid red;
    color: white;
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 1fr;
    width: 100%;
}

#bottom-header  img{
    width:100px ;
}

#logo{
    display: flex;
    align-items: center;
}

#header-buttons{
    display: flex;
    gap: 5%;
    align-items: center;
    padding: 10px;
    height: 100%;
    border: 0px solid green;
}

.project-button{
    border-radius: 45%;
    border: 0px solid red;
    width: 30%;
    height: 85%;
    padding: 0px;
}

#main{
    grid-area: main;
    background-color: green;
    display: grid;
    grid-template-columns: 3fr 1fr;
    border: 0px solid lime;
    padding: 0;
}

#projects-area{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5%;
    padding: 5px;
    align-items: center;
    overflow: scroll;
}

.project{
    background-color: blueviolet;
    width: 30%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

.proj-title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5%;
    font-size: 2em;
    font-weight: 700;
}

.proj-desc{
    background-color: blue;
    padding: 5%;    
    color: white;
    font-size: 1em;
    text-align: center;
    border: 1px solid red;
}

.proj-links{
    background-color: darkgoldenrod;
    display: flex;
    justify-content: space-around;
}

.proj-links img{
    width: 45px;
}

#info{
    background-color: red;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.title{
    font-weight: 800;
    font-size: 28px;
    padding-left: 5%;
}

.out-card{
    display: flex;
    flex-direction: column;
}

.inner-card{
    background-color: black;
    width: 80%;
}

#announcements{
    background-color: aqua;
}

#team{
    background-color: blueviolet;
}

#footer{
    grid-area: footer;
    background-color: brown;
    display: flex;
    justify-content: flex-end;
    padding-right: 1%;
}